.sideMenu {
    position: fixed;
    height: 100vh;
    width: 70%;
    max-width: 250px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 300ms ease-out;
    z-index: 100;
}

.sideMenu.open {
    transform: translateX(0);
}

.sideMenuList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    color:white;
    list-style: none;
    margin-top: 0.5rem;
    padding: 0
}

.sideMenuItem {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.sideMenuItem a {
    text-decoration: none;
    background: linear-gradient(227deg, #A9C9FF 0%, #FFBBEC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 700px) {
    .sideMenu {
        display: none;
    }
}