.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex: 1 0 auto;
    padding-bottom: 0.8rem;
}

.headerBreak {
   background-color: white;
    height: 0.2rem;
}

