.div {
    width: 8rem;
    height: 3.5rem;
    background-color: black;
    color: white;
    margin: 4px 10px 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    border: 2px solid white;
    -webkit-box-shadow:0px 0px 8px 3px rgba(220,224,224,0.39);
    -moz-box-shadow: 0px 0px 8px 3px rgba(220,224,224,0.39);
    box-shadow: 0px 0px 8px 3px rgba(220,224,224,0.39);
}

.divChecked {
    background-color: #50C878;
}

@media (min-width: 700px) {
    .div {
        cursor: pointer;
        animation: transform 250ms ease-in-out;
        width: 13rem;
        height: 8rem;
        border: 3px solid white;
    }

    .div h4 {
        font-size: 28px;
    }

    .div:hover{
        transform: scale(1.1);
    }


}