.div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerContainer {
    display: flex;
    place-items: center;
    text-align: center;
}

.headerContainer h2{
    color: white;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.searchBar input {
    border-radius: 5px;
    border: 2px white solid;
    color: white;
    outline: none;
    text-align: center;
    padding-left:30px;
    z-index: -1;
    position: relative;
}

.searchIcon {
    position: relative;
    z-index: 2;
    left: 30px;
    margin-right: 10px;
}

.ingredientsContainer {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}