.div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headerContainer {
    display: flex;
    align-items: center;
}

.headerContainer h2 {
    color: white;
}

.pickedIngredientsContainer {
    display: flex;
    flex-direction: column;
}