.div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.headerContainer {
    display: flex;
    align-items: center;
}

.headerContainer h2 {
    margin: 1rem 0 1rem 0;
    color: white;
}

.pickedIngredientsContainer {
    display: flex;
    flex-direction: column;
}