 #articleDiv {
    height: 20vh;
    width: 80%;
    display: flex;
    align-content: space-between;
}

.mealImg {
    object-fit: cover;
    object-position: 50% 50%;
}

h1 {
    text-align: right;
    font-size: 1.5rem;
}