.article {
    height: 20vh;
    width: 80vw;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
}

.headersDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    font-size: 1.5rem;
    text-align: right;
}

.mealImg {
    object-fit: cover;
}

.mealName {

}


@media (min-width: 500px) {
    h1 {
        font-size: unset;
    }
}