.rootStyle {
    -webkit-box-shadow: 0px 0px 32px 9px rgba(220, 224, 224, 0.39);
    -moz-box-shadow: 0px 0px 32px 9px rgba(220, 224, 224, 0.39);
    box-shadow: 0px 0px 32px 9px rgba(220, 224, 224, 0.39);

}



.h2 {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}