.card {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.or {
    color: white;
}

.h2 {
    color: white;
    text-align: center;
}

@media (min-width: 700px) {
    .card {
        width: 25%;
    }
}

