.div {
    width: 100%;
    height: 100%;
}

.headerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    width: 40%;

}

.icon svg {
    -webkit-box-shadow: 0px 0px 32px 9px rgba(220, 224, 224, 0.39);
    -moz-box-shadow: 0px 0px 32px 9px rgba(220, 224, 224, 0.39);
    box-shadow: 0px 0px 32px 9px rgba(220, 224, 224, 0.39);
}


.header {
    color: white;
    align-items: center;
    text-align: center;
}

.bodyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mealsList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fallbackDiv {

}

