.card {
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    height: 4rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.dayName {
    color: black;
}


@media (min-width: 700px) {
    .card {
        border-radius: 15px;
        background-color: white;
        height: 150px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
