.searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.6rem 0 1rem 0;
    background-color: black;
    border: 3px solid white;
    width: 40%;
    border-radius: 5px;
}

.searchBar input {
    height: 1.8rem;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    width: 90%;
}
.searchIcon {
    margin-left: 4px;
    margin-right: 4px;
}

@media (min-width: 700px) {
    .searchBar {
        border: 4px solid white;
        margin: 1rem;
    }
    .searchBar input {
        height: 2rem;
        background: transparent;
        width: 90%;
        font-size: 1.8rem;
    }

    .searchIcon {
        margin-left: 5px;
        margin-right: 6px;
        padding: 5px 0 5px 0;
    }
}