* {
    box-sizing: border-box;
}

.footer {
    height: 5vh;
    background: black;
    display: grid;
    place-items: center;
}

.div {
    width: 100%;
    text-align: center;
}

.div a{
    text-decoration: none;
    color: white
}