* {
    box-sizing: border-box;
}

.footer {
    clear: both;
    height: 60px;
    margin-top: -10px;
    background: black;
    display: grid;
    place-items: center;
}

.div {
    width: 100%;
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}



@media (hover) {
    .link {
        display: inline-block;
        transition: transform ease 250ms;
    }

    .link::after {
        content: '';
        position: absolute;
        display: inline;
        height: 1px;
        left: 0;
        bottom: -1px;
        width: 100%;
        background: white;
        transform: scaleX(0);
        transition: transform 250ms ease;
    }

    .link:hover {
        transform: scale(1.1);
    }

    .link:hover::after {
        transform: scaleX(1);
    }
}