.card {
    margin: 0 1rem 0.5rem;
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    background: black;
    overflow: hidden;
    transition: transform .6s ease;
    border-radius: 8px;
}

.loading {
    justify-content: center;
    align-items: center;
}

.spinner {
    margin: 0;
    padding: 0;
}

.card:hover {
    transform: scale(1.13);
}

.userImg {
    object-fit: cover;
    border-bottom: 2px solid white;
    height: 80%;
}

.headerContainer {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}







