

.container {
    display: grid;
    place-items: center;
    height: 86vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 90%;
}

.inputTag {
    align-self: flex-start;
    margin: 1rem 0 0 0;
    background: -webkit-linear-gradient(227deg, #A9C9FF 0%, #FFBBEC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input {
    margin: 0;
    color: white;
    font-size: 1.2rem;
    width: 100%;
    height: 2.2rem;
    outline: none;
    background-color: black;
}

.border {
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(227deg, #A9C9FF 0%, #FFBBEC 100%);
}

.login {
    margin: 2rem 0 0 0;
    background: -webkit-linear-gradient(227deg, #A9C9FF 0%, #FFBBEC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}

.googleLogin {
    width: 12rem;
    margin-top: 1.5rem;
}

.info {
    text-align: center;
}

.info button {
    padding: 0.4rem;
    display: inline;
    font-size: 1.35rem;
    font-weight: bold;
    background: transparent;
    background: -webkit-linear-gradient(227deg, #A9C9FF 0%, #FFBBEC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 50%;
    cursor: pointer;
}

.info h3{
    margin: 1rem 0;
    background: -webkit-linear-gradient(227deg, #A9C9FF 0%, #FFBBEC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 700px) {
    .form {
        width: 50%;
    }
}